<!-- Start Footer Area -->
<footer class="footer-area pt-20">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="single-footer-widget single-bg">
                    <a href="https://templates.envytheme.com/jubi/default/index.html" class="logo">
                        <img src="/static/images/logo9.png" alt="Image" style="width: 150px;">
                    </a>

                    <p style="margin: 0;">想要工作，就要得到。</p>
                    <p style="margin: 0;">揮灑青春，盡情享樂，品嘗工作。</p>
                    <p style="margin: 0;">別讓別人捷足先登，搶先入手工作。</p>

                </div>
            </div>

            <div class="col-lg-6 col-md-6">
                <div class="single-footer-widget">
                    <h3>Contact</h3>

                    <ul class="address foot-addlist social-icon">
                        <li class="col-lg-6">
                            <i class="bx bx-phone-call"></i>
                            <span>Phone:</span>
                            <a href="tel:02-6631-6588">(02) 6631-6588</a>
                        </li>
                        <li class="col-lg-6">
                            <i class="bx bx-envelope"></i>
                            <span>Email:</span>
                            <a
                                href="mailto:iservice@ispan.com.tw?subject=iSpan資展國際&nbsp;-&nbsp;顧客意見">iservice@ispan.com.tw</a>
                        </li>
                        <li class="location col-lg-6">
                            <i class="bx bx-location-plus"></i>
                            <span>Address:</span>
                            臺北市復興南路一段390號2樓
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-linkedin-square"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="bx bxl-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- End Footer Area -->

<!-- Start Copy Right Area -->
<div class="copy-right-area">
    <div class="container">
        <p>
            © 2021 Jubi Is Proudly Created By
            <a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
        </p>
    </div>
</div>
<!-- End Copy Right Area -->

<!-- Start Go Top Area -->
<div class="go-top">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
</div>
<!-- End Go Top Area -->