<script src="chrome-extension://ljdobmomdgdljniojadhoplhkpialdid/page/prompt.js"></script>
<script src="chrome-extension://ljdobmomdgdljniojadhoplhkpialdid/page/runScript.js"></script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <!-- Boxicons Min CSS -->
    <!-- <link rel="stylesheet" href="/static/css/boxicons.min.css"> -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="/static/css/magnific-popup.min.css">
    <!-- Flaticon CSS -->
    <!-- <link rel="stylesheet" href="/static/css/flaticon.css"> -->
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="/static/css/meanmenu.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="/static/css/nice-select.min.css">
    <!-- Odometer Min CSS-->
    <link rel="stylesheet" href="/static/css/odometer.min.css">
    <!-- Date Picker CSS-->
    <link rel="stylesheet" href="/static/css/date-picker.min.css">
    <!-- Muli Fonts Min CSS-->
    <!-- <link rel="stylesheet" href="/static/css/muli-fonts.css"> -->
    <!-- Style CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/static/css/responsive.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/static/images/logo8.png">
    <!-- Title -->
    <title>Find Good Job</title>
</head>