<!-- Jquery Min JS -->
<script src="/static/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="/static/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Meanmenu Min JS -->
<script src="/static/js/meanmenu.min.js"></script>
<!-- Wow Min JS -->
<script src="/static/js/wow.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="/static/js/owl.carousel.min.js"></script>
<!-- Nice Select Min JS -->
<script src="/static/js/nice-select.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="/static/js/magnific-popup.min.js"></script>
<!-- Mixitup JS -->
<script src="/static/js/jquery.mixitup.min.js"></script>
<!-- Appear Min JS -->
<script src="/static/js/appear.min.js"></script>
<!-- Odometer Min JS -->
<script src="/static/js/odometer.min.js"></script>
<!-- Range Slider Min JS -->
<script src="/static/js/range-slider.min.js"></script>
<!-- Datepicker Min JS -->
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<!-- Form Validator Min JS -->
<script src="/static/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="/static/js/contact-form-script.js"></script>
<!-- Ajaxchimp Min JS -->
<script src="/static/js/ajaxchimp.min.js"></script>
<!-- Custom JS -->
<script src="/static/js/custom.js"></script>

<script src="/static/js/dk-tw-citySelector.min.js"></script>
<script src="/static/js/lgi.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/additional-methods.min.js"></script>