{% include "share/head.html" %}

<body>
	{% include "share/menu.html" %}

	<!-- Start Banner Area -->
	<section class="banner-area ptb-100">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-lg-7">
							<div class="banner-content">
								<h1>Find Your Career to Make a Better Life</h1>
								<p>Search Over 10,000 Jobs Today!</p>

								<form class="search-job">
									<div class="row">
										<div class="col-lg-5 col-sm-6">
											<div class="form-group">
												<input type="text" class="form-control" id="job-title"
													placeholder="Job title, skills, or company">
											</div>
										</div>

										<div class="col-lg-4 col-sm-6">
											<div class="form-group">
												<input type="text" class="form-control" id="job-title-2"
													placeholder="City, State, or zip">
											</div>
										</div>

										<div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0">
											<button type="submit" class="default-btn">
												<i class="bx bx-search"></i>
												Search Jobs
											</button>
										</div>
									</div>
								</form>

								<div class="total-job-count">
									<div class="row">
										<div class="col-lg-4 col-sm-6 col-md-4">
											<div class="job-count">
												<h3><span>Live Jobs: </span>9,492</h3>
											</div>
										</div>

										<div class="col-lg-4 col-sm-6 col-md-4">
											<div class="job-count">
												<h3><span>Companies: </span>12,5582</h3>
											</div>
										</div>

										<div class="col-lg-4 col-sm-6 col-md-4 offset-sm-3 offset-lg-0 offset-md-0">
											<div class="job-count">
												<h3><span>New Jobs: </span>6,436</h3>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-5">
							<div class="banner-img">
								<img src="/static/images/banner-img.png" alt="Image">

								<div class="video-content">
									<a href="https://www.youtube.com/watch?v=BVnMXNW_grk" class="popup-youtube">
										<i class="flaticon-play-button-1"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!-- Start Working Area -->
	<section class="working-area bg-color pt-100 pb-70">
		<div class="container">
			<div class="section-title">
				<span>Working Process</span>
				<h2>How Jubi Works For You</h2>
			</div>

			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="single-working">
						<i class="flaticon-find-my-friend"></i>
						<h3>Find The Right Job</h3>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-working">
						<i class="flaticon-company"></i>
						<h3>Research Companies</h3>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-working">
						<i class="flaticon-salary"></i>
						<h3>Compare Salaries</h3>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-working">
						<i class="flaticon-submit"></i>
						<h3>Quick Apply</h3>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Working Area -->

	<!-- Start Partner Area -->
	<div class="partner-area bg-color">
		<div class="container">
			<div class="section-title">
				<span>Popular Jobs</span>
				<h2>Top Hiring Company</h2>
			</div>

			<div class="partner-bg">
				<div class="row">
					<div class="partner-slider owl-carousel owl-theme owl-loaded owl-drag">











						<div class="owl-stage-outer">
							<div class="owl-stage"
								style="transform: translate3d(-1722px, 0px, 0px); transition: all 1s ease 0s; width: 3936px;">
								<div class="owl-item cloned" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-2.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item cloned" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-3.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item cloned" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-4.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item cloned" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-5.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item cloned" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-3.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-1.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-2.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item active" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-3.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item active" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-4.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item active" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-5.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item active" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-3.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item cloned active" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-1.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item cloned" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-2.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item cloned" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-3.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item cloned" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-4.png" alt="Image">
										</a>
									</div>
								</div>
								<div class="owl-item cloned" style="width: 216px; margin-right: 30px;">
									<div class="partner-item">
										<a href="https://templates.envytheme.com/jubi/default/index.html#">
											<img src="/static/images/partner-5.png" alt="Image">
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i
									class="flaticon-left-arrow"></i></button><button type="button" role="presentation"
								class="owl-next"><i class="flaticon-right-arrow"></i></button></div>
						<div class="owl-dots disabled"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Partner Area -->

	<!-- Start Live Jobs Area -->
	<section class="live-jobs-area bg-color ptb-100">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="section-title">
						<span>Jobs Live Today</span>
						<h2>Browse Category</h2>
					</div>

					<div class="live-jobs-item">
						<div class="row">
							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-calculations"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Accounting (25)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-architect"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Architects (15)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-bank"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Bank (14)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-submit"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Design (99)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-graduated"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Education (42)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-travel"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Travel (33)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-medical-insurance"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Medical (19)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-submit"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Marketing (165)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-ngo"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										NGO (25)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-calculations"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Accounting (25)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-architect"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Architects (15)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-bank"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Bank (14)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-submit"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Design (99)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-graduated"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Education (42)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-travel"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Travel (33)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-medical-insurance"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Medical (19)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-submit"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										Marketing (165)
									</a>
								</div>
							</div>

							<div class="col-lg-2 col-sm-6">
								<div class="single-live-job">
									<i class="flaticon-ngo"></i>
									<a href="https://templates.envytheme.com/jubi/default/job-listing.html">
										NGO (25)
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="hiring-list">
						<h3>Hiring Immediately</h3>

						<ul>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="hiring-img">
									<img src="/static/images/hiring-1.png" alt="Image">
								</a>
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="link">Service Engineer</a>
								<span>Autozon power LTD</span>
							</li>

							<li>
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="hiring-img">
									<img src="/static/images/hiring-2.png" alt="Image">
								</a>
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="link">Support Executive</a>
								<span>Saspol limited</span>
							</li>

							<li>
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="hiring-img">
									<img src="/static/images/hiring-3.png" alt="Image">
								</a>
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="link">Research Assistant</a>
								<span>MedQ medical</span>
							</li>

							<li>
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="hiring-img">
									<img src="/static/images/hiring-4.png" alt="Image">
								</a>
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="link">Content Writing</a>
								<span>Depan insider LTD</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Live Jobs Area -->

	<!-- Start Hot Jobs Area -->
	<section class="hot-jobs-area bg-color pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="section-title">
						<span>Hot Jobs</span>
						<h2>New &amp; Random Jobs</h2>
					</div>

					<div class="row">
						<div class="col-lg-6 col-md-6">
							<select style="display: none;">
								<option value="1">Full Time</option>
								<option value="2">Part Time</option>
								<option value="3">Night</option>
								<option value="4">Day</option>
								<option value="5">Evening</option>
							</select>
							<div class="nice-select" tabindex="0"><span class="current">Full Time</span>
								<ul class="list">
									<li data-value="1" class="option selected">Full Time</li>
									<li data-value="2" class="option">Part Time</li>
									<li data-value="3" class="option">Night</li>
									<li data-value="4" class="option">Day</li>
									<li data-value="5" class="option">Evening</li>
								</ul>
							</div>
						</div>

						<div class="col-lg-6 col-md-6">
							<div class="show-page">
								<p>Show Per Page</p>
								<select style="display: none;">
									<option value="1">05</option>
									<option value="2">07</option>
									<option value="3">10</option>
									<option value="4">15</option>
									<option value="5">18</option>
								</select>
								<div class="nice-select" tabindex="0"><span class="current">05</span>
									<ul class="list">
										<li data-value="1" class="option selected">05</li>
										<li data-value="2" class="option">07</li>
										<li data-value="3" class="option">10</li>
										<li data-value="4" class="option">15</li>
										<li data-value="5" class="option">18</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="hot-jobs-list">
						<div class="row align-items-center">
							<div class="col-lg-2">
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="hot-jobs-img">
									<img src="/static/images/hot-jobs-1.png" alt="Image">
								</a>
							</div>

							<div class="col-lg-6">
								<div class="hot-jobs-content">
									<h3><a href="https://templates.envytheme.com/jubi/default/job-details.html">Finance
											&amp; Accounts</a></h3>
									<span class="sub-title">Finix loans &amp; funding agency</span>
									<ul>
										<li><span>Education:</span> BBA / M.A.</li>
										<li><span>Experience: </span>At Least 1 Year(s)</li>
										<li><span>Location: </span>New York</li>
									</ul>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="hot-jobs-btn">
									<a href="https://templates.envytheme.com/jubi/default/job-details.html"
										class="default-btn">Browse Job</a>
									<p><span>Deadline: </span>Dec 30, 2020</p>
								</div>
							</div>
						</div>
						<span class="featured">Featured</span>
					</div>

					<div class="hot-jobs-list">
						<div class="row align-items-center">
							<div class="col-lg-2">
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="hot-jobs-img">
									<img src="/static/images/hot-jobs-2.png" alt="Image">
								</a>
							</div>

							<div class="col-lg-6">
								<div class="hot-jobs-content">
									<h3><a href="https://templates.envytheme.com/jubi/default/job-details.html">Assistant
											Manager</a></h3>
									<span class="sub-title">Leve bank ltd</span>
									<ul>
										<li><span>Education:</span> BBA / M.A.</li>
										<li><span>Experience: </span>At Least 2 Year(s)</li>
										<li><span>Location: </span>Alaska</li>
									</ul>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="hot-jobs-btn">
									<a href="https://templates.envytheme.com/jubi/default/job-details.html"
										class="default-btn">Browse Job</a>
									<p><span>Deadline: </span>Nov 30, 2020</p>
								</div>
							</div>
						</div>
						<span class="featured">Featured</span>
					</div>

					<div class="hot-jobs-list">
						<div class="row align-items-center">
							<div class="col-lg-2">
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="hot-jobs-img">
									<img src="/static/images/hot-jobs-3.png" alt="Image">
								</a>
							</div>

							<div class="col-lg-6">
								<div class="hot-jobs-content">
									<h3><a href="https://templates.envytheme.com/jubi/default/job-details.html">Mechanical
											Engineer</a></h3>
									<span class="sub-title">Conzio construction</span>
									<ul>
										<li><span>Education:</span> B.Sc</li>
										<li><span>Experience: </span>At Least 1 Year(s)</li>
										<li><span>Location: </span>Washington</li>
									</ul>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="hot-jobs-btn">
									<a href="https://templates.envytheme.com/jubi/default/job-details.html"
										class="default-btn">Browse Job</a>
									<p><span>Deadline: </span>Dec 30, 2020</p>
								</div>
							</div>
						</div>
						<span class="featured red">Urgent</span>
					</div>

					<div class="hot-jobs-list">
						<div class="row align-items-center">
							<div class="col-lg-2">
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="hot-jobs-img">
									<img src="/static/images/hot-jobs-4.png" alt="Image">
								</a>
							</div>

							<div class="col-lg-6">
								<div class="hot-jobs-content">
									<h3><a href="https://templates.envytheme.com/jubi/default/job-details.html">Teacher
											- English</a></h3>
									<span class="sub-title">Eduon education</span>
									<ul>
										<li><span>Education:</span> BBA / M.A.</li>
										<li><span>Experience: </span>At Least 2 Year(s)</li>
										<li><span>Location: </span>Florida</li>
									</ul>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="hot-jobs-btn">
									<a href="https://templates.envytheme.com/jubi/default/job-details.html"
										class="default-btn">Browse Job</a>
									<p><span>Deadline: </span>Nov 30, 2020</p>
								</div>
							</div>
						</div>
						<span class="featured">Featured</span>
					</div>

					<div class="hot-jobs-list">
						<div class="row align-items-center">
							<div class="col-lg-2">
								<a href="https://templates.envytheme.com/jubi/default/job-details.html"
									class="hot-jobs-img">
									<img src="/static/images/hot-jobs-5.png" alt="Image">
								</a>
							</div>

							<div class="col-lg-6">
								<div class="hot-jobs-content">
									<h3><a href="https://templates.envytheme.com/jubi/default/job-details.html">Sr./
											Project Manager</a></h3>
									<span class="sub-title">Oryx International</span>
									<ul>
										<li><span>Education:</span> BBA / M.A.</li>
										<li><span>Experience: </span>At Least 5 Year(s)</li>
										<li><span>Location: </span>California</li>
									</ul>
								</div>
							</div>

							<div class="col-lg-4">
								<div class="hot-jobs-btn">
									<a href="https://templates.envytheme.com/jubi/default/job-details.html"
										class="default-btn">Browse Job</a>
									<p><span>Deadline: </span>Dec 15, 2020</p>
								</div>
							</div>
						</div>
						<span class="featured">Featured</span>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="pagination-area">
								<span class="page-numbers current" aria-current="page">1</span>
								<a href="https://templates.envytheme.com/jubi/default/index.html#"
									class="page-numbers">2</a>
								<a href="https://templates.envytheme.com/jubi/default/index.html#"
									class="page-numbers">3</a>

								<a href="https://templates.envytheme.com/jubi/default/index.html#"
									class="next page-numbers">
									<i class="flaticon-right-arrow"></i>
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="hot-jobs-sidebar">
						<div class="hot-job-sidebar">
							<img src="/static/images/hot-jobs-sidebar-img.jpg" alt="Image">

							<div class="hot-job-sidebar-content">
								<h3>The Benefits of Using Jobs</h3>

								<ul>
									<li>
										<span>1</span>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Helpful
											Customer Support</a>
									</li>
									<li>
										<span>2</span>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Access To
											Career Coaching</a>
									</li>
									<li>
										<span>3</span>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Skills
											Courses</a>
									</li>
									<li>
										<span>4</span>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Top-notch
											Friendly</a>
									</li>
									<li>
										<span>5</span>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Access
											Exclusive Research</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="hot-job-sidebar">
							<div class="hot-job-sidebar-content quick-link">
								<h3>Quick Links</h3>

								<ul>
									<li>
										<i class="bx bx-chevrons-right"></i>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Employer List
										</a>
									</li>
									<li>
										<i class="bx bx-chevrons-right"></i>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">New Jobs (24
											hrs)</a>
									</li>
									<li>
										<i class="bx bx-chevrons-right"></i>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Deadline
											Tomorrow </a>
									</li>
									<li>
										<i class="bx bx-chevrons-right"></i>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Urgent
											Jobs</a>
									</li>
									<li>
										<i class="bx bx-chevrons-right"></i>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Customer
											Service</a>
									</li>
									<li>
										<i class="bx bx-chevrons-right"></i>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Contractual
											Jobs </a>
									</li>
									<li>
										<i class="bx bx-chevrons-right"></i>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Part-Time
											Jobs</a>
									</li>
									<li>
										<i class="bx bx-chevrons-right"></i>
										<a href="https://templates.envytheme.com/jubi/default/index.html#">Now
											Hiring</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Hot Jobs Area -->

	<!-- Start Global Talent Area -->
	<section class="global-talent-area bg-color pb-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-7 col-md-6">
					<div class="global-talent-content">
						<span>Global Talent</span>
						<h2>Grow Your Career, Dream Your Jobs Are Waiting</h2>

						<ul>
							<li>
								<img src="/static/images/talent-dot-1.png" alt="Image">
								Full &amp; Part-Time Jobs
							</li>

							<li>
								<img src="/static/images/talent-dot-2.png" alt="Image">
								Employee &amp; Freelance
							</li>

							<li>
								<img src="/static/images/talent-dot-3.png" alt="Image">
								Flexible On-Site
							</li>
						</ul>

						<a href="https://templates.envytheme.com/jubi/default/post-job.html" class="default-btn">
							Post a Job
						</a>
					</div>
				</div>

				<div class="col-lg-5 col-md-6">
					<div class="jubi-site-status">
						<h3>Jubi Site Status</h3>

						<div class="site-status">
							<div class="row">
								<div class="col-lg-6 col-sm-6">
									<div class="single-counter">
										<i class="flaticon-job-seeker"></i>

										<h2>
											<span class="odometer odometer-auto-theme" data-count="10523">
												<div class="odometer-inside"><span class="odometer-digit"><span
															class="odometer-digit-spacer">8</span><span
															class="odometer-digit-inner"><span
																class="odometer-ribbon"><span
																	class="odometer-ribbon-inner"><span
																		class="odometer-value">0</span></span></span></span></span>
												</div>
											</span>
										</h2>

										<p>Jobs Added</p>
									</div>
								</div>

								<div class="col-lg-6 col-sm-6">
									<div class="single-counter">
										<i class="flaticon-organization"></i>

										<h2>
											<span class="odometer odometer-auto-theme" data-count="123843">
												<div class="odometer-inside"><span class="odometer-digit"><span
															class="odometer-digit-spacer">8</span><span
															class="odometer-digit-inner"><span
																class="odometer-ribbon"><span
																	class="odometer-ribbon-inner"><span
																		class="odometer-value">0</span></span></span></span></span>
												</div>
											</span>
										</h2>

										<p>Companies</p>
									</div>
								</div>

								<div class="col-lg-6 col-sm-6">
									<div class="single-counter">
										<i class="flaticon-profile"></i>

										<h2>
											<span class="odometer odometer-auto-theme" data-count="20537">
												<div class="odometer-inside"><span class="odometer-digit"><span
															class="odometer-digit-spacer">8</span><span
															class="odometer-digit-inner"><span
																class="odometer-ribbon"><span
																	class="odometer-ribbon-inner"><span
																		class="odometer-value">0</span></span></span></span></span>
												</div>
											</span>
										</h2>

										<p>Resume</p>
									</div>
								</div>

								<div class="col-lg-6 col-sm-6">
									<div class="single-counter">
										<i class="flaticon-community"></i>

										<h2>
											<span class="odometer odometer-auto-theme" data-count="18523">
												<div class="odometer-inside"><span class="odometer-digit"><span
															class="odometer-digit-spacer">8</span><span
															class="odometer-digit-inner"><span
																class="odometer-ribbon"><span
																	class="odometer-ribbon-inner"><span
																		class="odometer-value">0</span></span></span></span></span>
												</div>
											</span>
										</h2>

										<p>Members</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Global Talent Area -->

	<!-- Start Testimonials Area -->
	<section class="testimonials-area bg-color pb-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-5">
					<div class="testimonials-img">
						<img src="/static/images/testimonials-img.png" alt="Image">

						<h3>Testimonials</h3>

						<div class="testimonials-1">
							<img src="/static/images/testimonials-1.jpg" alt="Image">
						</div>

						<div class="testimonials-2">
							<img src="/static/images/testimonials-2.jpg" alt="Image">
						</div>

						<div class="testimonials-3">
							<img src="/static/images/testimonials-3.jpg" alt="Image">
						</div>

						<div class="testimonials-4">
							<img src="/static/images/testimonials-4.jpg" alt="Image">
						</div>
					</div>
				</div>

				<div class="col-lg-7">
					<div class="testimonials">
						<div class="testimonials-slider owl-carousel owl-theme owl-loaded owl-drag">





							<div class="owl-stage-outer">
								<div class="owl-stage"
									style="transform: translate3d(-2400px, 0px, 0px); transition: all 1s ease 0s; width: 4200px;">
									<div class="owl-item cloned" style="width: 600px;">
										<div class="testimonials-item">
											<i class="flaticon-quote"></i>
											<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse
												ultrices gravida. Risus viverra maecenas accumsan lacus vel facilisis.”
											</p>

											<h3>Tammie King</h3>
											<span>Founder</span>
										</div>
									</div>
									<div class="owl-item cloned" style="width: 600px;">
										<div class="testimonials-item">
											<i class="flaticon-quote"></i>
											<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse
												ultrices gravida. Risus viverra maecenas accumsan lacus vel facilisis.”
											</p>

											<h3>Juhon Anderson</h3>
											<span>Manager</span>
										</div>
									</div>
									<div class="owl-item" style="width: 600px;">
										<div class="testimonials-item">
											<i class="flaticon-quote"></i>
											<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse
												ultrices gravida. Risus viverra maecenas accumsan lacus vel facilisis.”
											</p>

											<h3>Allan norris</h3>
											<span>Software Engineer</span>
										</div>
									</div>
									<div class="owl-item" style="width: 600px;">
										<div class="testimonials-item">
											<i class="flaticon-quote"></i>
											<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse
												ultrices gravida. Risus viverra maecenas accumsan lacus vel facilisis.”
											</p>

											<h3>Tammie King</h3>
											<span>Founder</span>
										</div>
									</div>
									<div class="owl-item active" style="width: 600px;">
										<div class="testimonials-item">
											<i class="flaticon-quote"></i>
											<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse
												ultrices gravida. Risus viverra maecenas accumsan lacus vel facilisis.”
											</p>

											<h3>Juhon Anderson</h3>
											<span>Manager</span>
										</div>
									</div>
									<div class="owl-item cloned" style="width: 600px;">
										<div class="testimonials-item">
											<i class="flaticon-quote"></i>
											<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse
												ultrices gravida. Risus viverra maecenas accumsan lacus vel facilisis.”
											</p>

											<h3>Allan norris</h3>
											<span>Software Engineer</span>
										</div>
									</div>
									<div class="owl-item cloned" style="width: 600px;">
										<div class="testimonials-item">
											<i class="flaticon-quote"></i>
											<p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
												tempor incididunt ut labore et dolore magna. Quis ipsum suspendisse
												ultrices gravida. Risus viverra maecenas accumsan lacus vel facilisis.”
											</p>

											<h3>Tammie King</h3>
											<span>Founder</span>
										</div>
									</div>
								</div>
							</div>
							<div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><i
										class="flaticon-left-arrow"></i></button><button type="button"
									role="presentation" class="owl-next"><i class="flaticon-right-arrow"></i></button>
							</div>
							<div class="owl-dots"><button role="button" class="owl-dot"><span></span></button><button
									role="button" class="owl-dot"><span></span></button><button role="button"
									class="owl-dot active"><span></span></button></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonials Area -->

	<!-- Start Freelancer Area -->
	<section class="freelancer-area pt-100 pb-70">
		<div class="container">
			<div class="section-title">
				<span>Top Freelancer</span>
				<h2>Hire Expert Freelancer</h2>
			</div>

			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="single-freelancer">
						<img src="/static/images/freelancer-1.jpg" alt="Image">
						<h3>James Hendrix</h3>
						<span class="profession">UX/UI Designer</span>

						<ul>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
						</ul>

						<a href="https://templates.envytheme.com/jubi/default/candidates-details.html"
							class="default-btn">
							View Details
						</a>

						<span class="per-hour">$75/hr</span>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-freelancer">
						<img src="/static/images/freelancer-2.jpg" alt="Image">
						<h3>Jean Burke</h3>
						<span class="profession">Software Engineer</span>

						<ul>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
						</ul>

						<a href="https://templates.envytheme.com/jubi/default/candidates-details.html"
							class="default-btn">
							View Details
						</a>

						<span class="per-hour">$99/hr</span>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-freelancer">
						<img src="/static/images/freelancer-3.jpg" alt="Image">
						<h3>David Guzman</h3>
						<span class="profession">Web Developer</span>

						<ul>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
						</ul>

						<a href="https://templates.envytheme.com/jubi/default/candidates-details.html"
							class="default-btn">
							View Details
						</a>

						<span class="per-hour">$50/hr</span>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6">
					<div class="single-freelancer">
						<img src="/static/images/freelancer-4.jpg" alt="Image">
						<h3>Clarence Hart</h3>
						<span class="profession">Senior Executive</span>

						<ul>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
							<li>
								<i class="bx bxs-star"></i>
							</li>
						</ul>

						<a href="https://templates.envytheme.com/jubi/default/candidates-details.html"
							class="default-btn">
							View Details
						</a>

						<span class="per-hour">$25/hr</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Freelancer Area -->

	<!-- Start FAQ Area -->
	<section class="faq-area bg-color ptb-100">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="faq-accordion">
						<div class="faq-title">
							<h2>Frequently Asked Questions?</h2>
						</div>

						<ul class="accordion">
							<li class="accordion-item">
								<a class="accordion-title active" href="javascript:void(0)">
									<i class="bx bx-plus"></i>
									How Do I Post a Job?
								</a>

								<div class="accordion-content show">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam ut ad
										debitis maxime alias vitae magnam, accusamus amet pariatur tenetur totam
										deserunt dolore provident nobis impedit non vel quo? aliquam ut ad debitis
										maxime alias deserunt dolore provident dolore provident nobis impedit non vel
										quo? aliquam ut ad dolore provident</p>
								</div>
							</li>

							<li class="accordion-item">
								<a class="accordion-title" href="javascript:void(0)">
									<i class="bx bx-plus"></i>
									How Do I Edit or Remove a Job Posting?
								</a>

								<div class="accordion-content">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam ut ad
										debitis maxime alias vitae magnam, accusamus amet pariatur tenetur totam
										deserunt dolore provident nobis impedit non vel quo? aliquam ut ad debitis
										maxime alias deserunt dolore provident dolore provident nobis impedit non vel
										quo? aliquam ut ad dolore provident</p>
								</div>
							</li>

							<li class="accordion-item">
								<a class="accordion-title" href="javascript:void(0)">
									<i class="bx bx-plus"></i>
									How Long Will My Job Posting be Live?
								</a>

								<div class="accordion-content">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam ut ad
										debitis maxime alias vitae magnam, accusamus amet pariatur tenetur totam
										deserunt dolore provident nobis impedit non vel quo? aliquam ut ad debitis
										maxime alias deserunt dolore provident dolore provident nobis impedit non vel
										quo? aliquam ut ad dolore provident</p>
								</div>
							</li>

							<li class="accordion-item">
								<a class="accordion-title" href="javascript:void(0)">
									<i class="bx bx-plus"></i>
									How Can I Unsubscribe From Your Mailing List?
								</a>

								<div class="accordion-content">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam ut ad
										debitis maxime alias vitae magnam, accusamus amet pariatur tenetur totam
										deserunt dolore provident nobis impedit non vel quo? aliquam ut ad debitis
										maxime alias deserunt dolore provident dolore provident nobis impedit non vel
										quo? aliquam ut ad dolore provident</p>
								</div>
							</li>

							<li class="accordion-item">
								<a class="accordion-title" href="javascript:void(0)">
									<i class="bx bx-plus"></i>
									How Can I Change My Password?
								</a>

								<div class="accordion-content">
									<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquam ut ad
										debitis maxime alias vitae magnam, accusamus amet pariatur tenetur totam
										deserunt dolore provident nobis impedit non vel quo? aliquam ut ad debitis
										maxime alias deserunt dolore provident dolore provident nobis impedit non vel
										quo? aliquam ut ad dolore provident</p>
								</div>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="faq-img">
						<img src="/static/images/faq-img.png" alt="Image">
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End FAQ Area -->

	<!-- Start App Downloading Area -->
	<section class="app-downloading-area pt-100">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="app-img-1">
						<img src="/static/images/app-img-1.png" alt="Image">

						<div class="app-img-2">
							<img src="/static/images/app-img-2.png" alt="Image">
						</div>
					</div>
				</div>

				<div class="col-lg-6">
					<div class="app-downloading-content">
						<h2>Stay With Us by Downloading Our Mobile App</h2>

						<div class="app-btn">
							<a href="https://templates.envytheme.com/jubi/default/index.html#" class="default-btn">
								<i class="bx bxl-apple"></i>
								Download On
								<span>App Store</span>
							</a>

							<a href="https://templates.envytheme.com/jubi/default/index.html#"
								class="default-btn active">
								<i class="bx bxl-play-store"></i>
								Download On
								<span>Google Play</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End App Downloading Area -->

	<!-- Start Pricing Package Area -->
	<section class="pricing-package-area bg-color pt-100 pb-70">
		<div class="container">
			<div class="section-title">
				<span>Pricing Package</span>
				<h2>Our Best Offers</h2>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-pricing-box">
						<div class="pricing-title">
							<span>Entry</span>
							<h1>Professional</h1>
							<h4>$199.99 <span>/Monthly</span></h4>
						</div>

						<ul>
							<li>
								<i class="bx bx-check"></i>
								Unlimited access to candidates
							</li>
							<li>
								<i class="bx bx-check"></i>
								1 job per month
							</li>
							<li>
								<i class="bx bx-check"></i>
								50 resume views per month
							</li>
							<li>
								<i class="bx bx-check"></i>
								Resume match notifications
							</li>
							<li>
								<i class="bx bx-check"></i>
								Sort notes to candidates
							</li>
							<li>
								<i class="bx bx-check"></i>
								Enhanced candidate profiles
							</li>
						</ul>

						<a href="https://templates.envytheme.com/jubi/default/index.html#" class="default-btn">
							Get Started
						</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="single-pricing-box">
						<div class="pricing-title">
							<span>Most Popular</span>
							<h1>Standard</h1>
							<h4>$299.99 <span>/Monthly</span></h4>
						</div>

						<ul>
							<li>
								<i class="bx bx-check"></i>
								Unlimited access to candidates
							</li>
							<li>
								<i class="bx bx-check"></i>
								1 job per month
							</li>
							<li>
								<i class="bx bx-check"></i>
								50 resume views per month
							</li>
							<li>
								<i class="bx bx-check"></i>
								Resume match notifications
							</li>
							<li>
								<i class="bx bx-check"></i>
								Sort notes to candidates
							</li>
							<li>
								<i class="bx bx-check"></i>
								Enhanced candidate profiles
							</li>
						</ul>

						<a href="https://templates.envytheme.com/jubi/default/index.html#" class="default-btn">
							Get Started
						</a>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-pricing-box">
						<div class="pricing-title">
							<span>Most Savings</span>
							<h1>Ultimate</h1>
							<h4>$499.99 <span>/Monthly</span></h4>
						</div>

						<ul>
							<li>
								<i class="bx bx-check"></i>
								Unlimited access to candidates
							</li>
							<li>
								<i class="bx bx-check"></i>
								1 job per month
							</li>
							<li>
								<i class="bx bx-check"></i>
								50 resume views per month
							</li>
							<li>
								<i class="bx bx-check"></i>
								Resume match notifications
							</li>
							<li>
								<i class="bx bx-check"></i>
								Sort notes to candidates
							</li>
							<li>
								<i class="bx bx-check"></i>
								Enhanced candidate profiles
							</li>
						</ul>

						<a href="https://templates.envytheme.com/jubi/default/index.html#" class="default-btn">
							Get Started
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Pricing Package Area -->

	<!-- Start Blog Area -->
	<section class="blog-area bg-color pb-70">
		<div class="container">
			<div class="section-title">
				<span>Latest News</span>
				<h2>Quick Career Tips</h2>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-blog-post">
						<div class="blog-img">
							<a href="https://templates.envytheme.com/jubi/default/blog-details.html">
								<img src="/static/images/blog-1.jpg" alt="Image">
							</a>

							<ul>
								<li>12 Nov</li>
								<li>2020</li>
							</ul>
						</div>

						<div class="blog-content">
							<ul>
								<li>
									<i class="bx bxs-user"></i>
									<a href="https://templates.envytheme.com/jubi/default/index.html#">Andrew Lawson</a>
								</li>
							</ul>

							<h3>
								<a href="https://templates.envytheme.com/jubi/default/blog-details.html">
									The Most Popular Job in The Country
								</a>
							</h3>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt...</p>

							<a href="https://templates.envytheme.com/jubi/default/blog-details.html" class="read-more">
								Learn More
								<i class="flaticon-right-arrow"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6">
					<div class="single-blog-post">
						<div class="blog-img">
							<a href="https://templates.envytheme.com/jubi/default/blog-details.html">
								<img src="/static/images/blog-2.jpg" alt="Image">
							</a>

							<ul>
								<li>13 Nov</li>
								<li>2020</li>
							</ul>
						</div>

						<div class="blog-content">
							<ul>
								<li>
									<i class="bx bxs-user"></i>
									<a href="https://templates.envytheme.com/jubi/default/index.html#">Adonay Porras</a>
								</li>
							</ul>

							<h3>
								<a href="https://templates.envytheme.com/jubi/default/blog-details.html">
									10 Questions to Ask Before Joining a Company
								</a>
							</h3>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt...</p>

							<a href="https://templates.envytheme.com/jubi/default/blog-details.html" class="read-more">
								Learn More
								<i class="flaticon-right-arrow"></i>
							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-blog-post">
						<div class="blog-img">
							<a href="https://templates.envytheme.com/jubi/default/blog-details.html">
								<img src="/static/images/blog-3.jpg" alt="Image">
							</a>

							<ul>
								<li>14 Nov</li>
								<li>2020</li>
							</ul>
						</div>

						<div class="blog-content">
							<ul>
								<li>
									<i class="bx bxs-user"></i>
									<a href="https://templates.envytheme.com/jubi/default/index.html#">Espinoza Lara</a>
								</li>
							</ul>

							<h3>
								<a href="https://templates.envytheme.com/jubi/default/blog-details.html">
									How to Hire Your First Growth Online Designer
								</a>
							</h3>

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
								incididunt...</p>

							<a href="https://templates.envytheme.com/jubi/default/blog-details.html" class="read-more">
								Learn More
								<i class="flaticon-right-arrow"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Blog Area -->

	<!-- Start Subscribe Area -->
	<section class="subscribe-area">
		<div class="container">
			<div class="subscribe-bg">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="subscribe-content">
							<h2>Find Your Next Great Job Opportunity!</h2>
						</div>
					</div>

					<div class="col-lg-6">
						<form class="newsletter-form" data-toggle="validator" novalidate="true">
							<input type="email" class="form-control" placeholder="Enter email address" name="EMAIL"
								required="" autocomplete="off">

							<button class="default-btn disabled" type="submit"
								style="pointer-events: all; cursor: pointer;">
								<span>Subscribe</span>
							</button>

							<div id="validator-newsletter" class="form-result"></div>
							<p>Join The Newsletter 10,000 Users Already!</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Subscribe Area -->

	<!-- Start Footer Area -->
	<footer class="footer-area pt-100 pb-70">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-footer-widget single-bg">
						<a href="https://templates.envytheme.com/jubi/default/index.html" class="logo">
							<img src="/static/images/logo.png" alt="Image">
						</a>

						<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit, sed do eiusmod tempor incididunt ut
							labore et dolore magna aliqua consec tetur.</p>

						<ul class="social-icon">
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">
									<i class="bx bxl-facebook"></i>
								</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">
									<i class="bx bxl-instagram"></i>
								</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">
									<i class="bx bxl-linkedin-square"></i>
								</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">
									<i class="bx bxl-twitter"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="single-footer-widget">
						<h3>Contact</h3>

						<ul class="address">
							<li>
								<i class="bx bx-phone-call"></i>
								<span>Phone:</span>
								<a href="tel:+1-(514)-7939-357">+1 (514) 7939-357</a>
							</li>
							<li>
								<i class="bx bx-envelope"></i>
								<span>Email:</span>
								<a href="mailto:hello@jubi.com">hello@jubi.com</a>
							</li>
							<li class="location">
								<i class="bx bx-location-plus"></i>
								<span>Address:</span>
								6890 Blvd, The Bronx, NY 1058 New York, USA
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="single-footer-widget">
						<h3>Helpful Resources</h3>

						<ul class="import-link">
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">Create Account</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">Contact Us</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">Site Map</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">Terms of Use</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">Privacy Centre</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">Blog</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="single-footer-widget">
						<h3>Job Seekers</h3>

						<ul class="import-link">
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">Create Account</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">Browse Jobs</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">Upload CV</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">Company Profile</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">International
									Jobs</a>
							</li>
							<li>
								<a href="https://templates.envytheme.com/jubi/default/index.html#">FAQ</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End Footer Area -->

	<!-- Start Copy Right Area -->
	<div class="copy-right-area">
		<div class="container">
			<p>
				© 2021 Jubi Is Proudly Created By
				<a href="https://envytheme.com/" target="_blank">EnvyTheme</a>
			</p>
		</div>
	</div>
	<!-- End Copy Right Area -->

	<!-- Start Go Top Area -->
	<div class="go-top">
		<i class="bx bx-chevrons-up"></i>
		<i class="bx bx-chevrons-up"></i>
	</div>
	<!-- End Go Top Area -->

	<!--js-->
	{% include "share/import-js.html" %}

	<div id="mouseposition-extension-element-full-container"
		style="position: fixed; inset: 0px; pointer-events: none; z-index: 2147483647; font-weight: 400;">
		<div id="mouseposition-extension-element-rect-display"
			style="display: none; position: absolute; background: rgba(255, 255, 255, 0.7); outline: black solid 1px; font-size: 12px; z-index: 2147483647; justify-content: center; align-items: center; user-select: none; cursor: default; color: rgb(0, 0, 0); font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; width: 0px; height: 0px;">
			<pre
				style="flex: 1 1 0%; text-align: center; background-color: rgba(255, 255, 255, 0.7); color: rgb(0, 0, 0); min-width: 42px; min-height: 12px; transition: all 1s ease 0s;"></pre>
		</div>
		<pre id="mouseposition-extension-element-coordinate-display"
			style="position: absolute; display: none; background: rgb(255, 255, 255); font-size: 12px; line-height: 14px; border-radius: 3px; border-width: 1px; border-color: rgb(34, 34, 34) black rgb(51, 51, 51); border-style: solid; padding: 3px; z-index: 2147483647; color: rgb(34, 34, 34); user-select: none; cursor: default; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif;"></pre>
	</div>
</body>

</html>