<!DOCTYPE html>
<html lang="zh_TW">
{% include "share/head.html" %}

<body>
    {% include "share/menu.html" %}

    <section class="hot-jobs-area bg-color pb-70 pt-20">
        <div class="container" style="width: 100%">
            <div class='tableauPlaceholder' id='viz1673092293296' style='margin: auto;position: relative'><noscript><a
                        href='#'><img alt='儀表板窗格 5 '
                            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;TB&#47;TB010703&#47;5&#47;1_rss.png'
                            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='TB010703&#47;5' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;TB&#47;TB010703&#47;5&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='zh-TW' />
                    <param name='filter' value='publish=yes' />
                </object></div>

        </div>
    </section>
    <section class="hot-jobs-area bg-color pb-70 pt-20">
        <div class="container" style="width: 100%">
            <div class='tableauPlaceholder' id='viz1673092417215' style='margin: auto;position: relative'><noscript><a
                        href='#'><img alt='儀表板窗格 9 '
                            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;TB&#47;TB010706&#47;9&#47;1_rss.png'
                            style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                    <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                    <param name='embed_code_version' value='3' />
                    <param name='site_root' value='' />
                    <param name='name' value='TB010706&#47;9' />
                    <param name='tabs' value='no' />
                    <param name='toolbar' value='yes' />
                    <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;TB&#47;TB010706&#47;9&#47;1.png' />
                    <param name='animate_transition' value='yes' />
                    <param name='display_static_image' value='yes' />
                    <param name='display_spinner' value='yes' />
                    <param name='display_overlay' value='yes' />
                    <param name='display_count' value='yes' />
                    <param name='language' value='zh-TW' />
                    <param name='filter' value='publish=yes' />
                </object></div>

        </div>
    </section>
    <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1673092293296'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1000px'; vizElement.style.height = '827px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1000px'; vizElement.style.height = '827px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
    <script
        type='text/javascript'>                    var divElement = document.getElementById('viz1673092417215'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1000px'; vizElement.style.height = '827px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1000px'; vizElement.style.height = '827px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>

    {% include "share/footer.html" %}

    {% include "share/import-js.html" %}
    <script type="module" src="https://public.tableau.com/javascripts/api/tableau.embedding.3.latest.min.js"></script>
    <script type='text/javascript'>
        var divElement = document.getElementById('viz1672307682088'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '1000px'; vizElement.style.height = '827px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '1000px'; vizElement.style.height = '827px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                
    </script>
</body>

</html>