<!DOCTYPE html>
<html lang="zh_TW">
{% include "share/head.html" %}

<head>
    <link rel="stylesheet" href="/static/css/btn.css">
</head>

<body>
    {% include "share/menu.html" %}

    <!-- Start Freelancer Area -->
    <section class="freelancer-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>團隊介紹</h2>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer">
                        <img src="/static/images/S.svg" style="max-height:100px" alt="Image">
                        <h3>James Hendrix</h3>
                        <span class="profession">UX/UI Designer</span>
                        <span class="profession">UX/UI Designer</span>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer">
                        <img src="/static/images/B.svg" style="max-height:100px" alt="Image">
                        <h3>Jean Burke</h3>
                        <span class="profession">Software Engineer</span>
                        <span class="profession">Software Engineer</span>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer">
                        <img src="/static/images/K.svg" style="max-height:100px" alt="Image">
                        <h3>David Guzman</h3>
                        <span class="profession">Web Developer</span>
                        <span class="profession">Web Developer</span>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer">
                        <img src="/static/images/L.svg" style="max-height:100px" alt="Image">
                        <h3>Clarence Hart</h3>
                        <span class="profession">Senior Executive</span>
                        <span class="profession">Senior Executive</span>

                    </div>
                </div>
            </div>

            <div class="row" style="justify-content: center;">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer">
                        <img src="/static/images/N.svg" style="max-height:100px" alt="Image">
                        <h3>James Hendrix</h3>
                        <span class="profession">UX/UI Designer</span>
                        <span class="profession">UX/UI Designer</span>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer">
                        <img src="/static/images/M.svg" style="max-height:100px" alt="Image">
                        <h3>Jean Burke</h3>
                        <span class="profession">Software Engineer</span>
                        <span class="profession">Software Engineer</span>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer">
                        <img src="/static/images/H.svg" style="max-height:100px" alt="Image">
                        <h3>David Guzman</h3>
                        <span class="profession">Web Developer</span>
                        <span class="profession">Web Developer</span>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Freelancer Area -->

    <section class="hot-jobs-area bg-color pb-40">
        <div class="container">
            <div class="section-title title-sec">
                <!-- <span>Hot Jobs</span> -->
                <h2>團隊介紹</h2>
            </div>
            <!-- <div class="pb-40 team-btn-div">
                <button type="button" class="tb-detail" id="btns">翁維陽</button>
                <button type="button" class="tb-detail" id="btnb">熊雨荷</button>
                <button type="button" class="tb-detail" id="btnl">廖原平</button>
                <button type="button" class="tb-detail" id="btnk">蕭凱文</button>
                <button type="button" class="tb-detail" id="btnm">孟顥承</button>
                <button type="button" class="tb-detail" id="btnn">廖柏豪</button>
                <button type="button" class="tb-detail" id="btnh">黃彥博</button>
            </div> -->

            <div class="container nav-div pb-40">
                <nav class="n-btn">
                    <ul>
                        <li id="btns">
                            翁維陽
                            <span></span><span></span><span></span><span></span>
                        </li>
                        <li id="btnb">
                            熊雨荷
                            <span></span><span></span><span></span><span></span>
                        </li>
                        <li id="btnl">
                            廖原平
                            <span></span><span></span><span></span><span></span>
                        </li>
                        <li id="btnk">
                            蕭凱文
                            <span></span><span></span><span></span><span></span>
                        </li>
                        <li id="btnm">
                            孟顥承
                            <span></span><span></span><span></span><span></span>
                        </li>
                        <li id="btnn">
                            廖柏豪
                            <span></span><span></span><span></span><span></span>
                        </li>
                        <li id="btnh">
                            黃彥博
                            <span></span><span></span><span></span><span></span>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="hot-jobs-list trc" id="sbtn">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <a href="#" class="hot-jobs-img">
                            <img src="/static/images/S.svg" style="max-height:100px" alt="Image">
                        </a>
                    </div>

                    <div class="col-lg-8">
                        <div class="hot-jobs-content">
                            <div>
                                <h3>
                                    <img src="/static/images/user2.png" class="useri" alt="user">
                                    <label>翁維陽</label>
                                </h3>
                            </div>
                            <div>
                                <h5>
                                    <label>個人資訊</label>
                                    <hr style="margin: 0;">
                                </h5>
                                <div class="pb-20 d-flex">
                                    <div class="col-lg-6 dtxt">
                                        <label for="salary"><i class="bx bxs-dollar-circle"></i>&nbsp;工作薪資</label>
                                        <p class="txt" id="salary">$100,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pic">
                    </div>

                </div>
            </div>

            <div class="hot-jobs-list tlc" id="bbtn">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <a href="#" class="hot-jobs-img">
                            <img src="/static/images/B.svg" style="max-height:100px" alt="Image">
                        </a>
                    </div>

                    <div class="col-lg-8">
                        <div class="hot-jobs-content">
                            <div>
                                <h3>
                                    <img src="/static/images/user2.png" class="useri" alt="user">
                                    <label>熊雨荷</label>
                                </h3>
                            </div>
                            <div>
                                <h5>
                                    <label>個人資訊</label>
                                    <hr style="margin: 0;">
                                </h5>
                                <div class="pb-20 d-flex">
                                    <div class="col-lg-6 dtxt">
                                        <label for="salary"><i class="bx bxs-dollar-circle"></i>&nbsp;工作薪資</label>
                                        <p class="txt" id="salary">$100,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pic">
                    </div>

                </div>
            </div>

            <div class="hot-jobs-list trc" id="lbtn">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <a href="#" class="hot-jobs-img">
                            <img src="/static/images/L.svg" style="max-height:100px" alt="Image">
                        </a>
                    </div>

                    <div class="col-lg-8">
                        <div class="hot-jobs-content">
                            <div>
                                <h3>
                                    <img src="/static/images/user2.png" class="useri" alt="user">
                                    <label>廖原平</label>
                                </h3>
                            </div>
                            <div>
                                <h5>
                                    <label>個人資訊</label>
                                    <hr style="margin: 0;">
                                </h5>
                                <div class="pb-20 d-flex">
                                    <div class="col-lg-6 dtxt">
                                        <label for="salary"><i class="bx bxs-dollar-circle"></i>&nbsp;工作薪資</label>
                                        <p class="txt" id="salary">$100,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pic">
                    </div>

                </div>
            </div>

            <div class="hot-jobs-list tlc" id="kbtn">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <a href="#" class="hot-jobs-img">
                            <img src="/static/images/K.svg" style="max-height:100px" alt="Image">
                        </a>
                    </div>

                    <div class="col-lg-8">
                        <div class="hot-jobs-content">
                            <div>
                                <h3>
                                    <img src="/static/images/user2.png" class="useri" alt="user">
                                    <label>蕭凱文</label>
                                </h3>
                            </div>
                            <div>
                                <h5>
                                    <label>個人資訊</label>
                                    <hr style="margin: 0;">
                                </h5>
                                <div class="pb-20 d-flex">
                                    <div class="col-lg-6 dtxt">
                                        <label for="salary"><i class="bx bxs-dollar-circle"></i>&nbsp;工作薪資</label>
                                        <p class="txt" id="salary">$100,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pic">
                    </div>

                </div>
            </div>

            <div class="hot-jobs-list trc" id="mbtn">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <a href="#" class="hot-jobs-img">
                            <img src="/static/images/M.svg" style="max-height:100px" alt="Image">
                        </a>
                    </div>

                    <div class="col-lg-8">
                        <div class="hot-jobs-content">
                            <div>
                                <h3>
                                    <img src="/static/images/user2.png" class="useri" alt="user">
                                    <label>孟顥承</label>
                                </h3>
                            </div>
                            <div>
                                <h5>
                                    <label>個人資訊</label>
                                    <hr style="margin: 0;">
                                </h5>
                                <div class="pb-20 d-flex">
                                    <div class="col-lg-6 dtxt">
                                        <label for="salary"><i class="bx bxs-dollar-circle"></i>&nbsp;工作薪資</label>
                                        <p class="txt" id="salary">$100,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pic">
                    </div>

                </div>
            </div>

            <div class="hot-jobs-list tlc" id="nbtn">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <a href="#" class="hot-jobs-img">
                            <img src="/static/images/N.svg" style="max-height:100px" alt="Image">
                        </a>
                    </div>

                    <div class="col-lg-8">
                        <div class="hot-jobs-content">
                            <div>
                                <h3>
                                    <img src="/static/images/user2.png" class="useri" alt="user">
                                    <label>廖柏豪</label>
                                </h3>
                            </div>
                            <div>
                                <h5>
                                    <label>個人資訊</label>
                                    <hr style="margin: 0;">
                                </h5>
                                <div class="pb-20 d-flex">
                                    <div class="col-lg-6 dtxt">
                                        <p class="txt">今年25歲，偽單身。</p>
                                        <p class="txt">有新鮮的肝可以操。</p>
                                        <p class="txt">工作薪資最低要求：$80,000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pic">
                    </div>

                </div>
            </div>

            <div class="hot-jobs-list trc" id="hbtn">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <!-- <a href="#" class="hot-jobs-img"> -->
                        <div class="hot-jobs-img pics">
                            <img src="/static/images/H.svg" alt="Image">
                        </div>
                        <!-- </a> -->
                    </div>

                    <div class="col-lg-8">
                        <div class="hot-jobs-content">
                            <div>
                                <h3>
                                    <img src="/static/images/user2.png" class="useri" alt="user">
                                    <label>黃彥博</label>
                                </h3>
                            </div>
                            <div>
                                <h5>
                                    <label>個人資訊</label>
                                    <hr style="margin: 0;">
                                </h5>
                                <div class="pb-20">
                                    <div class="dtxt">
                                        <span>
                                            <a href="https://www.google.com.tw/maps/place/106台北市大安區復興南路一段390號"
                                                target="_blank">
                                                <i class="bx bxs-map"></i>&nbsp;
                                                地址：106台北市大安區復興南路一段390號
                                            </a>
                                        </span>
                                    </div>
                                    <div class="dtxt">
                                        <span>
                                            <a href="tel:0800-995-995">
                                                <i class="bx bxs-phone-call"></i>&nbsp;
                                                免費專線：0800-995-995
                                            </a>
                                        </span>
                                    </div>
                                    <div class="dtxt">
                                        <span>
                                            <a href="mailto:ProfessionalLiverSelling@sale.com">
                                                <i class="bx bxs-envelope"></i>&nbsp;
                                                E-mail：ProfessionalLiverSelling@sale.com
                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pic">
                    </div>

                </div>
            </div>

        </div>

    </section>

    <!-- <section class="hot-jobs-area bg-color pb-40">
        <div class="container">
            <div class="hot-jobs-list">
                <div class="row">
                    <div class="col-lg-2 pt-40">
                        <h3>競爭者分析</h3>
                    </div>

                    <div class="col-lg-10 d-flex">
                        <div class="col-lg-6 d-com-i">
                            <label for="imgedu">學歷分佈</label>
                            <img id="imgedu" src="/static/images/compete-img.svg" />
                        </div>
                        <div class="col-lg-6 d-com-i">
                            <label for="imgdep">科系分佈</label>
                            <img id="imgdep" src="/static/images/compete-img.svg" />
                        </div>

                        <div class="col-lg-6 d-com-i">
                            <label for="imggender">性別分佈</label>
                            <img id="imggender" src="/static/images/compete-img.svg" />
                        </div>
                        <div class="col-lg-6 d-com-i">
                            <label for="imgage">年齡分佈</label>
                            <img id="imgage" src="/static/images/compete-img.svg" />
                        </div>

                        <div class="col-lg-6 d-com-i">
                            <label for="imgexp">工作經驗分佈</label>
                            <img id="imgexp" src="/static/images/compete-img.svg" />
                        </div>
                        <div class="col-lg-6 d-com-i">
                            <label for="imglang">語言能力分佈</label>
                            <img id="imglang" src="/static/images/compete-img.svg" />
                        </div>

                        <div class="col-lg-6 d-com-i">
                            <label for="imgskill">技能分佈</label>
                            <img id="imgskill" src="/static/images/compete-img.svg" />
                        </div>
                        <div class="col-lg-6 d-com-i">
                            <label for="imglic">證照分佈</label>
                            <img id="imglic" src="/static/images/compete-img.svg" />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section> -->


    {% include "share/footer.html" %}

    {% include "share/import-js.html" %}

    <script>
        // $("#btns").click(function () {
        //     $("html, body").animate({ scrollTop: $("#sbtn").offset().top }, 800);
        // });
        $("#btnb").click(function () {
            $("html, body").animate({ scrollTop: $("#sbtn").offset().top }, 800);
        });
        $("#btnl").click(function () {
            $("html, body").animate({ scrollTop: $("#bbtn").offset().top }, 800);
        });
        $("#btnk").click(function () {
            $("html, body").animate({ scrollTop: $("#lbtn").offset().top }, 800);
        });
        $("#btnm").click(function () {
            $("html, body").animate({ scrollTop: $("#kbtn").offset().top }, 800);
        });
        $("#btnn").click(function () {
            $("html, body").animate({ scrollTop: $("#mbtn").offset().top }, 800);
        });
        $("#btnh").click(function () {
            $("html, body").animate({ scrollTop: $("#nbtn").offset().top }, 800);
        });
    </script>
</body>

</html>