<!DOCTYPE html>
<html lang="zh_TW">
{% include "share/head.html" %}

<head>
    <link rel="stylesheet" href="/static/css/btn.css">
</head>

<body>
    {% include "share/menu.html" %}

    <!-- Start Freelancer Area -->
    <section class="freelancer-area pt-100 pb-70 bg-color">
        <div class="container">
            <div class="section-title">
                <h2>團隊介紹</h2>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer team-div">
                        <img src="/static/images/wy.jpg" class="team-img" alt="Image">
                        <h3>翁維陽</h3>
                        <ul class="address foot-addlist social-icon">
                            <li>
                                <a href="mailto:">
                                    <i class="bx bx-envelope"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <img src="/static/images/cake.png" alt="Image">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <img src="/static/images/github-mark.svg" alt="Image">
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer team-div">
                        <img src="/static/images/be.jpg" class="team-img" alt="Image">
                        <h3>熊雨荷</h3>
                        <ul class="address foot-addlist social-icon">
                            <li>
                                <a href="mailto:yuhexiong871210@gmail.com">
                                    <i class="bx bx-envelope"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.cakeresume.com/s--oORjIoW2kWZ9sCWcSgEqcQ--/yuhe-xiong"
                                    target="_blank">
                                    <img src="/static/images/cake.png" alt="Image">
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/yuhexiong" target="_blank">
                                    <img src="/static/images/github-mark.svg" alt="Image">
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer team-div">
                        <img src="/static/images/kevin.jpg" class="team-img" alt="Image">
                        <h3>蕭凱文</h3>
                        <ul class="address foot-addlist social-icon">
                            <li>
                                <a href="mailto:kevinshiao85@gmail.com">
                                    <i class="bx bx-envelope"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.cakeresume.com/s--E1hnlWThCFtQMJdXCk4V6Q--/kevinshiao85"
                                    target="_blank">
                                    <img src="/static/images/cake.png" alt="Image">
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/kevinhsiao0717" target="_blank">
                                    <img src="/static/images/github-mark.svg" alt="Image">
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer team-div">
                        <img src="/static/images/lyp.jpg" class="team-img" alt="Image">
                        <h3>廖原平</h3>
                        <ul class="address foot-addlist social-icon">
                            <li>
                                <a href="mailto:yuanping.0910@gmail.com">
                                    <i class="bx bx-envelope"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.cakeresume.com/s--1SIUay3R1MeWAR8Wfr4SVg--/yuanping-0910"
                                    target="_blank">
                                    <img src="/static/images/cake.png" alt="Image">
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/yuanping0910" target="_blank">
                                    <img src="/static/images/github-mark.svg" alt="Image">
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="row" style="justify-content: center;">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer team-div">
                        <img src="/static/images/nn.jpg" class="team-img" alt="Image">
                        <h3>廖柏豪</h3>
                        <ul class="address foot-addlist social-icon">
                            <li>
                                <a href="mailto:asd273125@gmail.com">
                                    <i class="bx bx-envelope"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.cakeresume.com/noah-laio" target="_blank">
                                    <img src="/static/images/cake.png" alt="Image">
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/Noahozo/Noah" target="_blank">
                                    <img src="/static/images/github-mark.svg" alt="Image">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer team-div">
                        <img src="/static/images/mm.jpg" class="team-img" alt="Image">
                        <h3>孟顥承</h3>
                        <ul class="address foot-addlist social-icon">
                            <li>
                                <a href="mailto:howie525525@gmail.com">
                                    <i class="bx bx-envelope"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.cakeresume.com/howie525525" target="_blank">
                                    <img src="/static/images/cake.png" alt="Image">
                                </a>
                            </li>
                            <li>
                                <a href="https://github.com/howiemeng1" target="_blank">
                                    <img src="/static/images/github-mark.svg" alt="Image">
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="single-freelancer team-div">
                        <img src="/static/images/hyp.jpg" class="team-img" alt="Image">
                        <h3>黃彥博</h3>
                        <ul class="address foot-addlist social-icon">
                            <li>
                                <a href="mailto:">
                                    <i class="bx bx-envelope"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <img src="/static/images/cake.png" alt="Image">
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <img src="/static/images/github-mark.svg" alt="Image">
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Freelancer Area -->

    {% include "share/footer.html" %}

    {% include "share/import-js.html" %}

    <script>
        // $("#btns").click(function () {
        //     $("html, body").animate({ scrollTop: $("#sbtn").offset().top }, 800);
        // });
        $("#btnb").click(function () {
            $("html, body").animate({ scrollTop: $("#sbtn").offset().top }, 800);
        });
        $("#btnl").click(function () {
            $("html, body").animate({ scrollTop: $("#bbtn").offset().top }, 800);
        });
        $("#btnk").click(function () {
            $("html, body").animate({ scrollTop: $("#lbtn").offset().top }, 800);
        });
        $("#btnm").click(function () {
            $("html, body").animate({ scrollTop: $("#kbtn").offset().top }, 800);
        });
        $("#btnn").click(function () {
            $("html, body").animate({ scrollTop: $("#mbtn").offset().top }, 800);
        });
        $("#btnh").click(function () {
            $("html, body").animate({ scrollTop: $("#nbtn").offset().top }, 800);
        });
    </script>
</body>

</html>